body {
    background-color: lemonchiffon;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav li {
    background-color: goldenrod;
    border: 1px solid #010101;
    display: inline-block;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    transition: .3s;
    width: 100px;
  }
  nav a {
    text-decoration: none;
    color: #010101
  }
  
  nav li:hover {
    background-color: darkgoldenrod;
  }
  
  h1 {
    background-color: goldenrod;
    color: ivory;
    font-weight: bold;
    font-size: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-shadow: 2px 2px darkgoldenrod;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 0 15px;
  }

  h4 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2em;
    margin: 30px 0 0 15px;
  }

  .experience a {
    color: darkgoldenrod;
    font-size: .7em;
    text-decoration: none;
  }

  p {
    line-height: 1.2em;
    margin: 0 0 10px 25px;
    text-indent: 3em;
  }
  
  #headshot {
    border: 5px solid darkgoldenrod;
    box-shadow: 10px 10px 5px darkgray;
    float: right;
    margin: 15px;
    max-width: 350px;
    width: 30%;
  }

  #dance {
    border: 5px solid darkgoldenrod;
    box-shadow: 10px 10px 5px darkgray;
    float: right;
    margin: 15px 15px 40px 20px;
    max-width: 350px;
    width: 30%;
  }

  footer {
    background-color: darkgray;
    bottom: 0px;
    height: 30px;
    left: 0px;
    margin: 30px 0 0 0;
    position: fixed;
    width: 100%;
  }

  ol {
    box-sizing: border-box;
    float: none;
    list-style-type: decimal;
    margin: 0 35px 30px 35px;
  }

  dl {
    margin: 10px 0px 10px 20px;
  }

  dt{
    font-weight: bold;
    margin: 15px 0px;
  }

  dd {
    margin: 5px 30px;
  }